body
  form(action='login', method='POST')
    p
      | Benutzername: 
      input(type='text', name='username', value='')
    p
      | Passwort: 
      input(type='password', name='password', value='')
    input(type='submit', value='Login')